<!DOCTYPE html>
<head>
    <meta charset='UTF-8'/>
    <title>Criar Categoria</title>
</head>
<body>
    <h1> Criar nova categoria</h1>

    <form action="{{ url_for('categoria.create') }}" method="post"> 
        <label for="nome">Nome:</label>
        <input type="text" name="nome"/>

        <br/><br/>

        <label for="descricao">Descrição:</label> <br>
        <textarea name="descricao" rows="4" cols="50"></textarea>

        <input type="submit" value="Criar" />

    </form>


</body>
</html>